<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5">

	<!-- 
	This is the actual FHIR server
	-->
	<servlet>
		<servlet-name>fhirServlet</servlet-name>
		<servlet-class>com.navigatingcance.fhir.FhirServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>fhirServlet</servlet-name>
		<url-pattern>/fhir/*</url-pattern>
	</servlet-mapping>



</web-app>
